<a href="https://colab.research.google.com/github/shrikantnarayankar15/capstone-event/blob/master/EDA_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
gender_age_train = pd.read_csv('Data-capstone/gender_age_train.csv')

In [0]:
gender_age_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [0]:
gender_age_train.group.unique()

array(['M32-38', 'M29-31', 'F24-26', 'F33-42', 'F27-28', 'M39+', 'M23-26',
       'M27-28', 'M22-', 'F43+', 'F23-', 'F29-32'], dtype=object)

In [0]:
# so we have 4 features
#device-id which will be unique for each phone which we can remove
#gender male/female
# age of user
# group means which age group they belong to

In [0]:
phone_brand_device_model = pd.read_csv('Data-capstone/phone_brand_device_model.csv')

In [0]:
replace_dictionary = { '华为'	:'Huawei',
                      '小米'	:'Xiaomi',
                      '三星'	:'Samsung',
                      'vivo'	:'vivo',
                      'OPPO'	:'OPPO',
                      '魅族'	:'Meizu',
                      '酷派'	:'Coolpad',
                      '乐视'	:'LeEco',
                      '联想 '	:'Lenovo',
                      'HTC'	:'HTC',}

In [0]:
phone_brand_device_model = phone_brand_device_model.replace(replace_dictionary)

In [0]:
#lets combine both the dataset
gender_phone_data = pd.merge(left=gender_age_train, right=phone_brand_device_model, how='inner',on='device_id')

In [0]:
# #taking events data
# event_data=[]
# for i in range(0,16):
#   event_data.append(pd.read_csv('events_data'+str(i)+'.csv'))

In [0]:
# event_data = pd.concat(event_data)

In [0]:
# event_data.to_csv('Data-capstone/event_data_full.csv')

In [0]:
event_data = pd.read_csv('Data-capstone/event_data_full.csv')

In [0]:
event_data.head()

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude,city,state
0,0,1,2.918269e+16,2016-05-01 00:55:25,77.266052,28.68161,Delhi,Delhi
1,1,7104,2.918269e+16,2016-05-02 09:37:02,77.266052,28.68161,Delhi,Delhi
2,2,29661,2.918269e+16,2016-05-04 00:56:04,77.266052,28.68161,Delhi,Delhi
3,3,33133,2.918269e+16,2016-05-06 05:01:15,77.266052,28.68161,Delhi,Delhi
4,4,38980,2.918269e+16,2016-05-06 09:55:04,77.266052,28.68161,Delhi,Delhi

In [0]:
event_data=event_data.dropna()

In [0]:
event_data.device_id = event_data.device_id.astype('int64')

In [0]:
pd.merge(left=gender_phone_data,right=event_data, on='device_id',how='inner')

,device_id,gender,age,group,phone_brand,device_model,Unnamed: 0,event_id,timestamp,longitude,latitude,city,state
0,-6552729385743211,M,28,M27-28,vivo,X3T,149937,189757,2016-05-07 21:40:38,78.487473,17.338947,Rajendranagar,AndhraPradesh
1,-6552729385743211,M,28,M27-28,vivo,X3T,149938,190875,2016-05-04 22:31:06,78.487473,17.338947,Rajendranagar,AndhraPradesh
2,-6552729385743211,M,28,M27-28,vivo,X3T,149939,236452,2016-05-04 21:45:10,78.487473,17.338947,Rajendranagar,AndhraPradesh
3,-6552729385743211,M,28,M27-28,vivo,X3T,149940,237777,2016-05-04 22:33:57,78.487473,17.338947,Rajendranagar,AndhraPradesh
4,-6552729385743211,M,28,M27-28,vivo,X3T,149941,289077,2016-05-04 21:14:14,78.487473,17.338947,Rajendranagar,AndhraPradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14314,419523816160703488,M,19,M22-,vivo,Xplay3S,122009,2995757,2016-05-01 11:38:23,75.899025,26.959949,Jaipur,Rajasthan
14315,419523816160703488,M,19,M22-,vivo,Xplay3S,122010,2998998,2016-05-03 13:05:53,75.899025,26.959949,Jaipur,Rajasthan
14316,419523816160703488,M,19,M22-,vivo,Xplay3S,122011,3044070,2016-05-03 01:40:35,75.899025,26.959949,Jaipur,Rajasthan
14317,419523816160703488,M,19,M22-,vivo,Xplay3S,122012,3191584,2016-05-03 23:18:51,75.899025,26.959949,Jaipur,Rajasthan
14318,419523816160703488,M,19,M22-,vivo,Xplay3S,122013,3251524,2016-05-02 23:13:09,75.899025,26.959949,Jaipur,Rajasthan